*{
    font-family: Montserrat;
    color:black;
    font-weight: 400;
    font-size: 14px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.page{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.navbar-container {
    max-width: 1680px;
    max-height: 55px;
    width: 100%;
    margin: 0 auto;
}
.main-container {
    max-width: 1395px;
    max-height: 990px;
    width: 100%;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header ul li{
    margin-top: 15px;
    display: inline-block;
    list-style: none;
    color: #f0f0f0;
    margin-right: 11px;
}
.nav-link-bold{
    font-weight: 700;
}
.navbar-background{
    height: 55px;
    width: 100%;
    margin: 0 auto;
    background-color: #0F6295;
}
.header-logo a{
    margin-right: 53px;
}

.breadcrumbs-background{
    height: 63px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #E1E4EB;
}
.breadcrumbs a{
    vertical-align: middle;
    display: inline-block;
    margin-right: 22px;
    margin-top: 9px;
}
.breadcrumbs-text{
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    color: #0F0F14;
}

.main-content-background{
    width: 1396px;
    height: 990px;
    margin: 0 auto;
    margin-top: 22px;
    margin-bottom: 50px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 60px 4px rgba(0, 0, 0, 0.25);
}

.сard-container{
    width: 1114px;
    height: 198px;
    width: 100%;
}
.card-background{
    width: 1114px;
    height: 198px;
    margin: 0 auto;
    margin-bottom: 35px;
    border-radius: 19px;
    background: #F6F6F6;
    box-shadow: 0px 3.187px 3.187px 0px rgba(0, 0, 0, 0.25)
}
.card-content-container{
    position: absolute;
    width: 1043px;
    height: 200px;
}
.name ul li{
    margin-top: 19px;
    color: #0F6295;
    list-style: none;
    font-size: 20px;
    font-weight: 600;
    text-decoration-line: underline;
    margin-bottom: 12px;
}
.info ul{
    display: inline-block;
    list-style: none;
}
.info-logo li{
    margin-bottom: 30px;
}
.info-text{
    padding-left: 9px;
}
.info-text li{
    font-size: 16px;
    margin-bottom: 27px;
}
.card-photo{
    position: absolute;
    margin-top: 19px;
    margin-left: 925px;
}

.cards{
    padding-top: 46px;
}

.line-container{
    width: 918px;
    height: 1px;
    margin: 0 auto;
    margin-top: 75px;
    background: #7E7E7E;
}
.address-text{
    margin: 0 auto;
    margin-top: 74px;
    text-align: center;

    font-size: 20px;
}
.phone-text{
    margin: 0 auto;
    margin-top: 36px;
    text-align: center;

    font-size: 20px;
}
.footer{
    width: 1920px;
    height: 55px;
    width: 100%;
    background-color: #0F6295;
    margin-top: auto;
}
.footer-content-container{
    max-width: 1680px;
    max-height: 55px;
    width: 100%;
    margin: 0 auto;
}
.links{
    margin-top: 15px;
    display: flex;
}
.vvsu-link{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    margin-right: 244px;
}
.footer-links a{
    padding-bottom: 0;
    margin-right: 24px;
    text-decoration: none;
    color: #9FC0D5;
}
.social-networks{
    margin-left: auto;
    margin-right: 0;
}
.social-networks a{
    margin-left: 22px;
}
