*{
    font-family: Montserrat;
    color:black;
    font-weight: 400;
    font-size: 14px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.page{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
}
.main-container{
    max-width: 1395px;
    max-height: 990px;
    width: 100%;
    margin: 0 auto;
}
.navbar-container {
    max-width: 1680px;
    max-height: 55px;
    width: 100%;
    margin: 0 auto;
}
.main-container {
    max-width: 1395px;
    max-height: 990px;
    width: 100%;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header ul li{
    margin-top: 15px;
    display: inline-block;
    list-style: none;
    color: #f0f0f0;
    margin-right: 11px;
}
.line{
    width: 1px;
    height: 16px;
    vertical-align: middle;
    margin-bottom: 15px;
    background-color: #fff;
}
.nav-link-bold a{
    color:#FFF;
    text-decoration: none;
    font-weight: 700;
}
.nav-link-bold a:hover{
    color:#9FC0D5;
}
.username a{
    color: #FFF;
    text-decoration: none;
}
.username a:hover{
    color:#9FC0D5;
}
.navbar-background{
    height: 55px;
    width: 100%;
    margin: 0 auto;
    background-color: #0F6295;
}
.header-logo a{
    margin-right: 53px;
}
.breadcrumbs-container{
    height: 63px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #E1E4EB;
}
.breadcrumbs a{
    vertical-align: middle;
    display: inline-block;
    margin-right: 22px;
    margin-top: 9px;
}
.breadcrumbs-text{
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    color: #0F0F14;
}
.breadcrumbs-text:hover{
    color:#0F6295;
}
.form-container{
    width: 1396px;
    height: 590px;
    margin: 0 auto;
    margin-top: 21px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 60px 8px rgba(0, 0, 0, 0.25);
}
.email-container{
    position: absolute;
    margin-top: 28px;
    margin-left: 36px;
    max-width: 1324px;
    max-height: 590px;
}
.form-label{
    font-size: 16px;
}
.form-logo{
    margin-right: 8px;
}
.email-form{
    margin-top: 14px;
    width: 456px;
    height: 30px;
    border: 1px solid #858585;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
.email-form-txt{
    margin-top: 8px;
    margin-left: 5px;
    border: none;
    width: 445px;
    height: 15px;
}
.form-btn{
    border: none;
    background: none;
}
.email-form input[type="text"]:focus{
    outline: none;
}
.problem-container{
    margin-top: 23px;
}
.problem-form-txt{
    margin-top: 8px;
    margin-left: 5px;
    border: none;
    width: 1310px;
    height: 360px;
}
.problem-form{
    margin-top: 17px;
    width: 1324px;
    height: 375px;
    border: 1px solid #858585;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
.problem-form input[type="text"]:focus{
    outline: none;
}


.send{
    margin-top: 41px;
    width: 1396px;
    height: 60px;
    background-color: #0F6295;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.footer{
    width: 1920px;
    height: 55px;
    width: 100%;
    background-color: #0F6295;
    margin-top: auto;
}
.footer-content-container{
    max-width: 1680px;
    max-height: 55px;
    width: 100%;
    margin: 0 auto;
}
.links{
    margin-top: 15px;
    display: flex;
}
.vvsu-link{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    margin-right: 244px;
}
.vvsu-link:hover{
    color: #9FC0D5;
    text-decoration: none;
}
.footer-links a{
    padding-bottom: 0;
    margin-right: 24px;
    text-decoration: none;
    color: #9FC0D5;
}
.footer-links a:hover{
    color:#fff
}
.social-networks{
    margin-left: auto;
    margin-right: 0;
}
.social-networks a{
    margin-left: 22px;
}
